*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --txt-color: black;
    --bg-secondary: rgb(176, 176, 176);
    --txt-lightgreen: #17ddc0;
    --txt-danger: red;
    --white: white;
}

.nav-container{
    position: fixed;
     top: 0px;
     z-index: 1;
     background: white;
 }
 
/* navbar */
nav .become-instuctor-container a{
    color: var(--txt-color);
}
/* drowp down menu*/
nav .dropdown:hover > .dropdown-menu {
    display: block;
} 

/* course container */

.course-container ul li{
    list-style: none;
    position: relative;
}

.course-container ul li a{
    color: var(--txt-color);
}
.course-container li a::before{
    position: absolute;
    content: '';
    transition: 1s;
    bottom: 0px;
    left: 50%;
    border-bottom:  3px solid var(--txt-lightgreen);
    width: 0px;
}
.course-container li a:hover:before{
    width: 50%;
}
.course-container li a::after{
    position: absolute;
    content: '';
    transition: 1s;
    bottom: 0px;
    right: 50%;
    border-bottom: 3px solid var(--txt-lightgreen);
    width: 0px;
}
.course-container li a:hover:after{
    width: 50%;
}

/* all-course container */
.all-course-container .card{
    width: 320px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.3);
    border-style: none;
    border-radius: 23px;
    position: relative;
}

.all-course-container .card .progress{
    height: 5px;
}
.all-course-container .card .progress-bar{
    background-color: #17ddc0;
}

.all-course-container .card .card-img .card-icon{
    position: absolute;
    top: 4%;
    right: 3%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 5px 10px;
}
.all-course-container .card .card-body span{
    color: var(--txt-lightgreen);
}

/* discount container */
.discount-container{
    height: 184px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}
.discount-container img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.discount-container .row{
    z-index: 10;
}

.discount-container form input{
    background: transparent;
    border: none;
    color: white;
}

.discount-container form input:focus{
    background: transparent;
    color: white;
}

.discount-container form .fa-solid{
    line-height: 30px;
}

.discount-container form .input-group{
    background: rgba(184, 184, 184, 0.3);
    border-radius: 10px;    
}

.discount-container .sub-btn{
    background: var(--txt-lightgreen);
    height: 40px;
    color: white;
}

/* footer */
.footer-container .row .col ul{
    list-style: none;
}
.footer-container .row .col ul li:hover{
    color: #17ddc0;
}
.footer-bottom-container .social-media{
    flex-direction: row-reverse;
    font-size: 25px;
}
.footer-bottom-container .social-media .fa-brands:hover{
    color: #17ddc0;
}

/* media query */
@media (max-width:998px) and (min-width:425px){
    .all-course-container .complete-container{
        overflow-x: auto;
        padding: 10px;
    }
    .all-course-container .complete-container::-webkit-scrollbar{
        width: 0px;
    }
    .all-course-container .complete-container .card{
        min-width: 300px;
    }
    
}

@media (max-width:425px) and (min-width:320px){
    .all-course-container .complete-container{
        overflow-x: auto;
        padding: 10px;
    }
    .all-course-container .complete-container::-webkit-scrollbar{
        width: 0px;
    }
    .all-course-container .complete-container .card{
        min-width: 250px;
    }
}   