<<<<<<< HEAD
/* header */

@media(max-width: 990px) and (min-width:320px){
    .header{
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    z-index: 10 !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    .carousel-container .header nav{
        background: white !important;
    }
    .carousel-container .header .logo h5{
        color: black !important;
    }
    .carousel-container .header nav .bi{
        color: black !important;
    }
    .carousel-container .header nav .navbar-nav a{
        color: black !important;
    }
    .header .search-container{
    display: none;
    }
    .header .icon-name{
    display: block;
    }
    .header .profile-conatiner,.cart-container,.login-container{
    border-top: 1px solid rgb(228, 226, 226);
    margin-left: 0px !important;
    padding: 10px 0px;
    }
    .notification-container{
    display: none;
    }
    .header .mobile-view-container{
    display: flex !important;
    }
}
    




@media (max-width : 775px ) and (min-width : 320px){ 
    /* navbar for course */

    .btn-container .course-name-container{
        overflow-x: auto;
    }
    .btn-container .course-name-container::-webkit-scrollbar{
        width: 0;
    }

    .complete-course-container{
        width: 100% !important;
    }

    /* compelete the cpourse */
    .complete-course-container .complete-container{
        overflow-x: auto;
        padding: 10px;
    }
    .complete-course-container .complete-container::-webkit-scrollbar{
        width: 0px;
    }
    .complete-course-container .complete-container .card{
        min-width: 300px;
    }

    /* more from kitani studio */
    .tranding-course-container,
    .kitani-studio-container{
        width: 100% !important;
    }
    .kitani-studio-container .studio-container{
        overflow-x: auto;
        padding: 10px;
    }
    .kitani-studio-container .studio-container::-webkit-scrollbar{
        width: 0;
    }
    .kitani-studio-container .studio-container .card{
        min-width: 300px;
    }

    /* tranding course */
    .tranding-course-container .course-name{
        overflow-x: auto;
        padding: 10px;
    }
    .tranding-course-container .course-name::-webkit-scrollbar{
        width: 0;
    }
    .tranding-course-container .course-name .card{
        min-width: 300px;
    }

    /*  populer instructor  */
    .instructor-conatiner{
        overflow-x: auto;
    }
    .instructor-conatiner::-webkit-scrollbar{
        width: 0;
    }
    .instructor-conatiner .col .img-name{
        display: block;
    }

     /* subscribe card */
    .subscribe{
        display: none;
    }
=======
/* header */

@media(max-width: 990px) and (min-width:320px){
    .header{
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    z-index: 10 !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    .carousel-container .header nav{
        background: white !important;
    }
    .carousel-container .header .logo h5{
        color: black !important;
    }
    .carousel-container .header nav .bi{
        color: black !important;
    }
    .carousel-container .header nav .navbar-nav a{
        color: black !important;
    }
    .header .search-container{
    display: none;
    }
    .header .icon-name{
    display: block;
    }
    .header .profile-conatiner,.cart-container,.login-container{
    border-top: 1px solid rgb(228, 226, 226);
    margin-left: 0px !important;
    padding: 10px 0px;
    }
    .notification-container{
    display: none;
    }
    .header .mobile-view-container{
    display: flex !important;
    }
}
    




@media (max-width : 775px ) and (min-width : 320px){ 
    /* navbar for course */

    .btn-container .course-name-container{
        overflow-x: auto;
    }
    .btn-container .course-name-container::-webkit-scrollbar{
        width: 0;
    }

    .complete-course-container{
        width: 100% !important;
    }

    /* compelete the cpourse */
    .complete-course-container .complete-container{
        overflow-x: auto;
        padding: 10px;
    }
    .complete-course-container .complete-container::-webkit-scrollbar{
        width: 0px;
    }
    .complete-course-container .complete-container .card{
        min-width: 300px;
    }

    /* more from kitani studio */
    .tranding-course-container,
    .kitani-studio-container{
        width: 100% !important;
    }
    .kitani-studio-container .studio-container{
        overflow-x: auto;
        padding: 10px;
    }
    .kitani-studio-container .studio-container::-webkit-scrollbar{
        width: 0;
    }
    .kitani-studio-container .studio-container .card{
        min-width: 300px;
    }

    /* tranding course */
    .tranding-course-container .course-name{
        overflow-x: auto;
        padding: 10px;
    }
    .tranding-course-container .course-name::-webkit-scrollbar{
        width: 0;
    }
    .tranding-course-container .course-name .card{
        min-width: 300px;
    }

    /*  populer instructor  */
    .instructor-conatiner{
        overflow-x: auto;
    }
    .instructor-conatiner::-webkit-scrollbar{
        width: 0;
    }
    .instructor-conatiner .col .img-name{
        display: block;
    }

     /* subscribe card */
    .subscribe{
        display: none;
    }
>>>>>>> d6bf33075f6eb4fa962603313c8f3a9f368e309c
} 