*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --txt-color: black;
    --bg-secondary: rgb(115, 115, 115);
    --txt-lightgreen: #17ddc0;
    --txt-danger: red;
    --white: white;
}

.nav-container{
    position: fixed;
     top: 0px;
     z-index: 1;
     background: white;
 }
 
/* navbar */
nav .become-instuctor-container a{
    color: var(--txt-color);
}
/* drowp down menu*/
nav .dropdown:hover > .dropdown-menu {
    display: block;
} 

/* vedio container */

/* vdo image start*/
.video-container .vdo-img{
    position: relative;
    height: 480px;
}

.video-container .vdo-img .video-img{
    width: 98%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.video-container .vdo-img img{
    filter: brightness(60%);
    border-radius: 30px;
}
.video-container .vdo-img .vdo-content{
    position: absolute;
    top: 25%;
    left: 18%;
    color: white;
    width: 60%;
}

.video-container .vdo-img .rounded-pill{
    position: absolute;
    top: 47%;
    left: 42%;
    background: var(--txt-lightgreen);
}

.video-container .vdo-img .live-container{
    width: 50%;
    position: absolute;
    left: 3%;
    bottom: 3%;
}
.video-container .vdo-img .live-container .lv-btn{
    background: var(--txt-lightgreen);
    font-size: 12px;
}

.video-container .vdo-img .icon{
    position: absolute;
    bottom: 3%;
    right: 5%;
}
.video-container .live-btn{
    background: var(--txt-lightgreen);
    color: white;
    font-size: 14px;
}
/* lecture container */
.video-container .lec-container{
    height: 470px;
}
.video-container .lec-container .heading p{
    font-size: 14px;
    color: var(--bg-secondary);
}
.video-container .lec-container .d-flex a{
    color: var(--txt-lightgreen);
}
.video-container .lec-container .lecture .row .bi{
    color: var(--bg-secondary);
}
.video-container .lec-container .lecture .col-9,.col-2{
    color: var(--bg-secondary);
    font-size: 17px;
}
.video-container .lec-container .lecture{
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.video-container .lec-container .lecture::-webkit-scrollbar{
    height: 0;
}

.video-container .webinar-container{
    height: 400px;
}

.video-container .webinar-container .content{
    background: #A04AE3;
    color: var(--white);
}


/* discount container */
.discount-container{
    height: 184px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}
.discount-container img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.discount-container .row{
    z-index: 10;
}

.discount-container form input{
    background: transparent;
    border: none;
    color: white;
}

.discount-container form input:focus{
    background: transparent;
    color: white;
}

.discount-container form .fa-solid{
    line-height: 30px;
}

.discount-container form .input-group{
    background: rgba(184, 184, 184, 0.3);
    border-radius: 10px;    
}

.discount-container .sub-btn{
    background: var(--txt-lightgreen);
    height: 40px;
    color: white;
}


/* footer */
.footer-container .row .col ul{
    list-style: none;
}
.footer-container .row .col ul li:hover{
    color: #17ddc0;
}
.footer-bottom-container .social-media{
    flex-direction: row-reverse;
    font-size: 25px;
}
.footer-bottom-container .social-media .fa-brands:hover{
    color: #17ddc0;
}

@media (max-width: 775px) and (min-width: 320px){
    .nav-container{
        display: none;
    }
}

/* media query */
@media (max-width:1399px){
    .video-container .vdo-img .vdo-content{
        position: absolute;
        top: 25%;
        left: 10%;
        color: white;
        width: 80%;
    }
    .video-container .vdo-img .rounded-pill{
        position: absolute;
        top: 50%;
    }
    .video-container .lec-container .lecture .col-9,.col-2{
        font-size: 14px;
    }
    .video-container .lec-container .lecture{
        max-height: 300px;
    }    
}
@media (max-width:1024px){
    .video-container .vdo-img .vdo-content{
        position: absolute;
        top: 25%;
        left: 10%;
        color: white;
        width: 80%;
    }
}
@media (max-width:768px){
    .video-container .vdo-img img{
        border-radius: 0px;
    }
    .video-container .vdo-img .vdo-content{
        position: absolute;
        top: 25%;
        left: 0px;
        color: white;
        width: 100%;
    }
    .video-container .vdo-img .video-img{
        width: 100%;
    }
}

@media(max-width:395px){
    .video-container .vdo-img .rounded-pill{
        position: absolute;
        top: 55%;
        left: 36%;
    }

}