*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --txt-color: black;
    --bg-secondary: rgb(176, 176, 176);
    --txt-lightgreen: #17ddc0;
    --txt-danger: red;
    --white: white;
}

.nav-container{
    position: fixed;
     top: 0px;
     z-index: 1;
     background: white;
 }
 
/* navbar */
nav .become-instuctor-container a{
    color: var(--txt-color);
}
/* drowp down menu*/
nav .dropdown:hover > .dropdown-menu {
    display: block;
} 

/* course container */

.course-container ul li{
    list-style: none;
    position: relative;
}

.course-container ul li a{
    color: var(--txt-color);
}
.course-container li a::before{
    position: absolute;
    content: '';
    transition: 1s;
    bottom: 0px;
    left: 50%;
    border-bottom:  3px solid var(--txt-lightgreen);
    width: 0px;
}
.course-container li a:hover:before{
    width: 50%;
}
.course-container li a::after{
    position: absolute;
    content: '';
    transition: 1s;
    bottom: 0px;
    right: 50%;
    border-bottom: 3px solid var(--txt-lightgreen);
    width: 0px;
}
.course-container li a:hover:after{
    width: 50%;
}

/* wishlist container */
.wishlist-container .card{
    width: 320px;
    height: 430px;
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.3);
    border-style: none;
    border-radius: 23px;
}

.wishlist-container .card .card-img .card-btn{
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 12px;
}
.wishlist-container .card .card-img .card-btn .off{
    background: rebeccapurple;
}
.wishlist-container .card .card-img .card-icon{
    position: absolute;
    top: 3%;
    right: 3%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 5px 10px;
}

.wishlist-container .card .card-body span{
    color: var(--txt-lightgreen);
}
.explore-btn{
    background: var(--txt-lightgreen);
    border-radius: 15px;
    color: white;
}



/* footer */
.footer-container .row .col ul{
    list-style: none;
}
.footer-container .row .col ul li:hover{
    color: #17ddc0;
}
.footer-bottom-container .social-media{
    flex-direction: row-reverse;
    font-size: 25px;
}
.footer-bottom-container .social-media .fa-brands:hover{
    color: #17ddc0;
}

/* media query */
@media (max-width:998px) and (min-width:425px){
    .wishlist-container .course-name{
        overflow-x: auto;
        padding: 10px;
    }
    .wishlist-container .course-name::-webkit-scrollbar{
        width: 0px;
    }
    .wishlist-container .course-name .card{
        min-width: 300px;
    }
    
}

@media (max-width:425px) and (min-width:320px){
    .wishlist-container .course-name{
        overflow-x: auto;
        padding: 10px;
    }
    .wishlist-container .course-name::-webkit-scrollbar{
        width: 0px;
    }
    .wishlist-container .course-name .card{
        min-width: 250px;
    }
}   